* {
    background-color: burlywood;
    list-style-type: none;
}

.recipes, .brownies, .pizza, .dough {
    font-family: Arial, Helvetica, sans-serif;
}
.recipes {
    color: rgb(32, 21, 13);
    text-align: center;
}

.brownies {
    color: rgb(70, 15, 15);
}

.pizza {
    color: rgb(222, 94, 8);
}

.dough {
    color: antiquewhite;
}
